body{
  background-color: #353a50ea;
}
header, .alert{
  z-index: 100;
}
.description{
  height: 25px;
  overflow: hidden;
  transition: height .2s ease-in .2s;
}
.description:hover{
  height: 80px;
}
.carrito{
  min-height: 80vh;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}
.table__productos > img{
  width: 9rem;
  object-fit: contain;
  border-radius: 6px;
  margin-right: 20px;
}
.table__cantidad > input{
  width: 40px;
  border: none;
  outline: 0;
  font-size: 16px;
  font-weight: 700;
  margin-right: 30px;
  margin-bottom: 20px;
}
.hide, .remove{
  display: none;
}
form .grupo{
  position: relative;
  margin: 45px;
}
input{
  background-color: #aaaaaa ;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  border-bottom: 1px solid;
}
input:focus{
  outline: none;
  color: #5e5d5d;
}
input:focus~label,
input:valid~label{
  top: -24px;
  font-size: 17px;
  color: #4b4b4b;
}
label{
  font-size: 16px;
  position: absolute;
  bottom: 0;
  left: 5px;
  top: 10px;
  transition: 0.5s ease-in-out all;
  pointer-events: none; 
}
.warnings{
  width: 200px;
  text-align: center;
  margin: auto;
  color: #be2929;
  padding-top: 20px;
}
